<div class="form-container">
    <div class="form-header">
        <h3> {{title}} </h3>
        <div class="buttons-header" *ngIf="idUsuario">
            <a (click)="onEditarUsuario()"><button class="editarBtn">Editar</button></a>
            <a (click)="onEliminarUsuario()"><button class="editarBtn">Eliminar</button></a>
        </div>
    </div>
    <div class="form-cont">
        <form [formGroup]="usuarioForm" (submit)="onSave()">
            <div class="input-group">
                <label for="email">Nombre</label>
                <input type="text" id="email" formControlName="nombre" autocomplete="off">
            </div>
            <div class="input-group">
                <label for="email">DNI</label>
                <input type="text" id="email" formControlName="dni" autocomplete="off">
            </div>
            <div class="input-group">
                <label for="email">Correo</label>
                <input type="text" id="email" formControlName="correo" autocomplete="off">
            </div>
            <div class="input-group">
                <label for="email">Cargo</label>
                <input type="text" id="email" formControlName="cargo" autocomplete="off">
            </div>
            <div class="input-group">
                <label for="email">Área</label>
                <select type="text" id="email" formControlName="area" autocomplete="off" (change)="onAreaSelected()">
                    <option *ngFor="let a of areas" value={{a.id}}>{{a.nombre}}</option>
                </select>
            </div>
            <div class="input-group">
                <label for="email">Rol</label>
                <select type="text" id="email" formControlName="rol" autocomplete="off" (change)="onRolSelected()">
                    <option *ngFor="let r of roles" value={{r.id}}>{{r.nombre}}</option>
                </select>
            </div>
            <div class="row-inputArchivo">
                <div class="input-group-archivo">
                    <label for="email">Imagen que se incluirá en las cotizaciones</label>
                    <input type="text" id="email">
                </div>
                <label [ngClass]="editar ? 'file-input' : 'file-input-disable'" class="file-input">
                    <input type="file" (change)="onPreviewImg($event)" accept="image/*">
                    Seleccionar
                </label>
            </div>
            <div class="divider"></div>
            <div class="imgPreview">
                <span *ngIf="rutaImagen == '' || rutaImagen== null">No se ha cargado una imagen</span>
                <img *ngIf="rutaImagen != '' && rutaImagen != null" [src]="rutaImagen" alt="">
            </div>
            <div class="input-group">
                <div class="row-flex">
                    <button class="cancelarBtn" (click)="onCancelar()">Cancelar</button>
                    <button [ngClass]="editar ? 'guardarBtn' : 'guardarBtn-disable'" type="submit" [disabled]="usuarioForm.invalid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
