<div class="main-cont">
  <div class="loader" *ngIf="loaderService.isLoading | async">
    <mat-progress-bar style="height: 3px;" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="topbar-container">
    <app-topbar></app-topbar>
  </div>
  <div class="container-body">
    <div class="navbar">
      <app-navigation></app-navigation>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="snackbar-cont" *ngIf="showSnackBar">
    <span>{{snackbar.mensaje}}</span>
    <button class="ok-btn" *ngIf="snackbar.tipo==1 && snackbar.button" (click)="onCloseSnackbar()">Aceptar</button>
    <button class="error-btn" *ngIf="snackbar.tipo==2 && snackbar.button" (click)="onCloseSnackbar()">Aceptar</button>
  </div>
</div>
<!-- <div class="modal-container">

</div> -->